* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --font-stack: "Raleway", sans-serif;
  --font-landing: "Monseratt", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}
body {
  -ms-overflow-style: none;
}

.wrapper {
  overflow-x: hidden;
}

iframe {
  pointer-events: none;
  cursor: none;
}

nav {
  position: sticky;
  margin-top: -3px;
  top: 0;
  display: flex;
  justify-content: flex-start;
  padding-left: 10rem;
  align-items: center;
  height: 65px;
  background: rgba(30, 30, 30, 1);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  z-index: 1;
  transition: all 0.8s ease-in-out;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  top: -3vh;
}

.logo img {
  height: 50px;
  width: 50px;
  margin-top: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

#contactMe {
  color: #ee1d52;
}

#contactMe:hover {
  color: white;
  text-shadow: 1px 1px 3px #ee1d52;
  font-size: 0.9rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.nav-links a:hover {
  color: #ee1d52;
}

.burger {
  display: none;
}

.burger div {
  width: 22px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 95vh;
    top: 65px;
    background: linear-gradient(to bottom, rgba(30, 30, 30, 0.8), rgb(0, 0, 0, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    opacity: 0;
    display: none;
    transition: 0.2s ease-in-out;
  }
  .nav-links li {
    margin-top: 75px;
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    display: none;
  }
  to {
    display: inline-block;
    opacity: 1;
  }
}

@keyframes navLinkFadeOut {
  from {
    opacity: 1;
    display: inline-block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.toggle .top-line {
  transform: rotate(45deg) translate(12.5px, -10px);
  width: 15px;
  z-index: 0;
}

.toggle .middle-line {
  width: 30px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  z-index: 1;
}

.toggle .bottom-line {
  transform: rotate(-45deg) translate(12.5px, 10px);
  width: 15px;
  z-index: 0;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: block;
}

.stars {
  background: black url(assets/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(assets/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 150s linear infinite;
}

.welcome-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
}

.welcome-page__fadein {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow {
  position: absolute;
  bottom: -4px;
  transition: all 0.5s ease;
  width: 60vw;
  height: 1px;
  box-shadow: none;
}

.glowToggle {
  width: 100vw;
  height: 5px;
  box-shadow: 0px -0px 20px #fafafa;
  background: rgba(0, 0, 0, 0);
}
.welcome-message__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.welcome-message__subcontainer {
  display: flex;
  justify-content: space-around;

  width: 490px;
}

.welcome-message__firstSubcontainer {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
  width: 650px;
  height: 10vh;
}
.lastname {
  position: absolute;
  right: -210px;
}

.clouds {
  position: relative;
  background: transparent url(assets/clouds.png) center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  margin-top: 10px;
  font-size: 75px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
}

.fullstack {
  font-size: 50px;
  color: #ee1d52;
  font-family: "Montserrat", sans-serif;

  font-style: italic;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.webdeveloper {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.clouds button {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100px;
  width: 100px;
  border: 0px;
  border-radius: 50%;
  color: white;
  transition: all 0.3s ease;
  outline: none;
}

.top {
  width: 12px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
  transform: rotate(45deg) translate(15px, -11px);
  z-index: 3;
}
.middle {
  z-index: 4;
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
  transform: translate(-1px);
}
.bottom {
  width: 12px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
  transform: rotate(-45deg) translate(15px, 11px);
}

.visit-page {
  position: absolute;
  bottom: 20vh;
}

.arrow {
  transition: all 0.9s ease;
}

.toggled .top {
  width: 17px;
  height: 3px;
}
.toggled .bottom {
  width: 17px;
  height: 3px;
}

.toggled .middle {
  width: 35px;
  height: 3px;
  transform: translateX(-10%);
}

@keyframes buttonHover {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes buttonUnhover {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.content {
  background: black;
  height: 200vh;
  margin-top: -70px;
}

section {
  background: rgb(10, 10, 10);
  display: block;
  height: auto;

  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.vertical-nav {
  display: block;
  z-index: 3;
  width: 60px;
  position: fixed;
  top: 0vh;
  height: 100vh;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(30, 30, 30, 1);
}

.vertical-nav__toggled {
  display: block;
  z-index: 3;
  width: 60px;
  position: fixed;
  top: 0vh;
  height: 100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(30, 30, 30, 1);
}

.vertical-nav li {
  list-style: none;
  margin: 2rem;
  font-family: var(--font-landing);
  color: white;
  z-index: 3;
}

.vertical-nav ul {
  position: relative;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-nav a {
  text-decoration: none;
  font-family: var(--font-landing);
  outline: none;
  color: #d3d3d3;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.vertical-nav li {
  /* position: absolute; */
  color: white;
}

.vertical-line {
  position: absolute;
  top: 50vh;
  height: 10vh;
  width: 2px;
  background-color: #d3d3d3;
}

.github {
  top: 3px;
}

.linkedin {
  bottom: -100px;
}

.vertical-nav a:hover {
  color: #ee1d52;
}

.email {
  transform: rotate(-90deg);
  transition: all 0.2s ease;
  font-family: var(--font-landing);
}

.email:hover {
  color: #c4214a;
}

.about {
  grid-column: 2 / span 10;
  grid-row: 1 / span 9;
  border-radius: 3px;
  text-align: center;
  padding: 0 1rem;
  height: 90vh;
  font-family: var(--font-landing);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about h2 {
  font-size: 3rem;
  font-family: var(--font-stack);
  color: #fafafa;
  opacity: 0;
}

.about h3 {
  font-size: 2rem;
  font-family: var(--font-stack);
  color: #fafafa;
  position: absolute;
}

.about__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__underline {
  width: 160px;
  background-color: #ee1d52;
  height: 0.5vh;
  border-radius: 3px;
  opacity: 0;
}

#about__horizontal-line {
  height: 4px;
  width: 200px;
  background-color: #ee1d52;
  position: absolute;
  top: -20px;
  left: -20px;
}

#about__vertical-line {
  height: 4px;
  width: 200px;
  transform: rotate(90deg);
  background-color: #ee1d52;
  position: absolute;
  top: 80px;
  left: -118px;
}

#hover {
  position: absolute;
  font-family: var(--font-stack);
  color: rgb(218, 218, 218);
  bottom: 40px;
  z-index: 4;
  right: -25px;
  transform: rotate(-90deg);
}

#about-hello {
  opacity: 0;
}

#about-hello__content {
  opacity: 0;
}

.about-content__image {
  position: relative;
  background-size: cover;
  background-position: top center;
  position: relative;
  height: 357px;
  opacity: 0;
}

.about-content__image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 97%;
  width: 100%;
  background-color: rgba(238, 29, 82, 0.4);
  opacity: 0.7;
  transition: height 0.2s ease-in;
}

.about-content__image:hover:after {
  height: 0%;
  width: 100%;
  background-color: rgba(238, 29, 82, 0.4);
  opacity: 0.7;
}

.about-content__container {
  display: flex;

  justify-content: space-evenly;
}

.about-content__manifesto {
  position: relative;
  width: 32vw;
}

.about-content__manifesto p {
  font-family: var(--font-stack);
  padding: 4rem;
  color: #fafafa;
  line-height: 1.5rem;
  text-align: left;
}

.projects {
  grid-column: 2 / span 10;
  grid-row: 1 / span 9;
  border-radius: 3px;
  text-align: center;
  padding: 0 1rem;
  font-family: var(--font-landing);
  display: flex;
  flex-direction: column;
}

.projects__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects h2 {
  font-size: 3rem;
  font-family: var(--font-stack);
  color: #fafafa;
}

.projects__underline {
  width: 170px;
  background-color: #ee1d52;
  height: 0.5vh;
  border-radius: 3px;
  opacity: 0;
}

.projects-content__container {
  display: flex;
  justify-content: space-evenly;
  height: 30vh;
}

.projects-skills {
  height: 20vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  position: relative;
}

.projects-skills h3 {
  color: #ee1d52;
  font-size: 1.5rem;
  font-family: var(--font-stack);
}

.projects-skills__container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}
.projects-skills__container h4 {
  font-family: var(--font-stack);
  color: white;
}

.projects-skills-languages {
  display: flex;
  flex-direction: column;
  font-family: var(--font-stack);
  height: 10vh;
  width: 10vw;
  opacity: 0;
}

.projects-skills-content__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.2rem;
  height: 100%;
}

.projects-skills-other__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10%;
}

.projects-skills-content__container p {
  color: white;
}

.projects-skills-other__container ul {
  margin-left: 10px;
}

.projects-skills-other__container li {
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 0.8rem;
  padding: 0.1rem 0rem;
  text-align: left;
  font-family: var(--font-stack);
}

.fab {
  color: white;
  transition: color 0.2s ease-in;
}

.fab:hover {
  color: #ee1d52;
}

.fas {
  color: white;
  padding-left: 1rem;
  transition: color 0.2s ease-in;
  cursor: n-resize;
}

.fas:hover {
  color: #ee1d52;
}

#skills-hover:hover {
  color: none;
}

.horizontal-line-break {
  position: absolute;
  bottom: -1rem;
  width: 40vw;
  height: 1px;
  background-color: #fafafa;
  opacity: 0;
}

.projects-projects__container {
  margin-top: 2rem;

  display: inline-flex;
  flex-direction: column;
}

.projects-projects__container h3 {
  color: #ee1d52;
  font-size: 1.5rem;
  font-family: var(--font-stack);
}

.projects-items__container {
  width: 100%;

  position: relative;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.projects-gif__left {
  grid-row: 2 / span 9;
  grid-column: 1 / span 7;
  opacity: 0;
}

.projects-about__right {
  grid-row: 2 / span 8;
  grid-column: 9 / span 5;
  display: flex;
  flex-direction: column;
}
.projects-gif__right {
  grid-row: 2 / span 8;
  grid-column: 8 / span 7;
  opacity: 0;
}

.projects-about__left {
  grid-row: 2 / span 8;
  grid-column: 2 / span 5;
  display: flex;
  flex-direction: column;
}
.projects-about__left h4 {
  color: #fafafa;
  font-family: var(--font-stack);
  font-size: 1.5rem;
  opacity: 1;
}

.projects-about__left p {
  font-family: var(--font-stack);
  color: #fafafa;
  text-align: left;
  opacity: 1;
  padding-top: 1rem;
}

.projects-about__right h4 {
  color: #fafafa;
  font-family: var(--font-stack);
  font-size: 1.5rem;
  opacity: 1;
}

.projects-about__right p {
  font-family: var(--font-stack);
  color: #fafafa;
  text-align: left;
  padding-top: 1rem;
  opacity: 1;
}

.projects-about-project__container {
  display: flex;
  justify-content: space-around;
  margin-top: 0.8rem;
}

.projects-list__container {
  display: flex;
  padding: 0.5rem 0rem;
}

.projects-list__container li {
  list-style-type: none;
  text-align: center;
  font-size: 0.8rem;
  color: #fafafa;
  text-align: left;
}

.info {
  display: flex;
  flex-direction: column;
  color: #ee1d52;
  opacity: 1;
}

#projects {
  opacity: 0;
}

#technical {
  opacity: 0;
}

#projects-header {
  opacity: 0;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30vh;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

input {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: var(--font-stack);
  outline: none;
  border-radius: 3px;
  border: none;
  background-color: #2b2828;
  padding: 0.4rem;
  color: #fafafa;
}

textarea {
  font-family: var(--font-stack);
  min-width: 25vw;
  font-size: 1rem;
  background-color: #2b2828;
  border: none;
  border-radius: 3px;
  padding: 0.4rem;
  max-width: 35vw;
  min-height: 20vh;
  max-height: 30vh;
  color: #fafafa;
}

textarea:focus {
  outline: none;
}

#question {
  font-family: var(--font-stack);
  padding-top: 2rem;
  color: #fafafa;
}

.contact-section h2 {
  font-family: var(--font-stack);
  color: #fafafa;
  font-size: 3rem;

  /* opacity: 0; */
}

.contact__underline {
  width: 200px;
  background-color: #ee1d52;
  height: 0.5vh;
  border-radius: 3px;
  opacity: 1;
}

.submit-contents {
  display: flex;
  justify-content: space-between;
}

#submit-message {
  font-size: 0.7rem;
  width: 100%;
  font-family: var(--font-stack);
}

.submit-contents {
  padding: 1rem 0rem;
}

.submit-contents input {
  outline: none;
  background-color: #2b2828;
  padding: 0.2rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.back-to-top {
  background-color: #2b2828;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 30px;
}

.back-to-top p {
  font-family: var(--font-stack);
  color: #fafafa;
}

.to-top {
  color: #ee1d52;
  position: absolute;
  right: 10px;
  top: -40px;
}

@media only screen and (max-width: 1050px) {
  .logo img {
    width: 45px;
    height: auto;
  }

  nav {
    position: sticky;
  }

  #about-hello__content {
    padding: 4rem 0rem;
  }

  textarea {
    width: 100%;
  }

  .vertical-nav {
    width: 50px;
  }

  .projects-skills {
    width: 70vw;
  }

  .projects-skills__container {
    width: 70vw;
  }

  .projects-skills-languages {
    width: 23vw;
  }

  .projects-skills-languages h4 {
    font-size: 0.8rem;
  }

  .projects-skills-content__container {
    font-size: 0.8rem;
  }

  .projects-skills-other__container li {
    font-size: 0.5rem;
  }

  .horizontal-line-break {
    width: 100%;
  }

  .projects__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .projects-about__header {
    width: 75vw;
  }

  .projects__container:after {
    content: " ";
    position: relative;
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ee1d52;
    border-radius: 3px;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  #about-hello {
    left: 10%;
  }

  #about-hello__content {
    padding-left: 1.4rem;
  }

  #hover {
    display: none;
  }

  nav {
    justify-content: flex-end;
    padding-right: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .about {
    grid-column: 2 / span 10;
    grid-row: 3 / span 9;

    text-align: center;
    margin-top: 15vh;
    font-family: var(--font-landing);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .about-content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
  }

  .about-content__image {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .about-content__manifesto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #about-hello__content {
    padding: none;
    width: 90vw;
  }

  #about-hello {
    left: 2vw;
    padding: none;
    margin: none;
  }

  .line {
    display: none;
  }

  .about-content__image::after {
    display: none;
  }

  .about h3 {
    top: 0;
    left: 13vw;
  }

  .about-content__manifesto {
    width: 80vw;
    margin-top: 20px;
  }

  .about-content__image:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 97%;
    width: 100%;
  }
  .logo img {
    width: 40px;
    margin-top: 35px;
    height: auto;
  }
  .vertical-nav {
    width: 40px;
  }
  .projects-section {
    justify-content: flex-start;
  }
}

.div {
  clear: both;
}

@media only screen and (max-width: 500px) {
  .welcome-message__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .welcome-message__firstSubcontainer {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10vh;
  }
  .welcome {
    font-size: 40px;
  }

  .hello {
    padding-right: 10px;
    width: 21vh;
  }

  .lastname {
    display: none;
  }

  .fullstack {
    font-size: 20px;
    margin-left: 140px;
  }

  .webdeveloper {
    font-size: 20px;
    margin-right: 140px;
  }

  .vertical-nav li {
    position: none;
  }

  .projects-skills-languages {
    margin: 8px;
  }

  #projects {
    margin: 3rem;
  }

  #question {
    padding-left: 1rem;
    font-size: 0.8rem;
  }

  #submit-message {
    font-size: 0.6rem;
    width: 100px;
  }

  textarea {
    min-width: 100%;
  }

  .projects-gif__left {
    width: 100%;
  }
}
